extend layout

block main 
  .panel
    .panel-body
      #nav.row
        ul.nav.nav-pills
          li.active
            a(href="/") Lists
          li
            a(href="/dashboard") Dashboard
  #content.row
    block content

block scripts
  script(data-main='js/boot', type='text/javascript', src='js/libs/require.js')
