!!! 5
html(lang="en")
  head
    title Shopping
    link(rel='text/stylesheet', href='styles/bootstrap.css')
    link(rel='text/stylesheet', href='styles/bootstrap-theme.css')
  
  body
    block content

    block scripts
