<div class="panel-info">
  <div id="list-panel" class="panel-body">
  </div>
</div>

<div class="panel-info">
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="list-title">Title</label>
        <input type="text" class="form-control" id="list-title" name="title"/></li>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description"/>
      </div>
      <button id="new_list" type="submit" class="btn btn-default">New List</button>
    </form>
  </div>
</div>
<div class="error_messages"></div>

